In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
!mkdir ../1.format/
!mkdir ../nodes_set/

mkdir: cannot create directory ‘../1.format/’: File exists
mkdir: cannot create directory ‘../nodes_set/’: File exists

In [3]:
pd_edges = pd.read_csv('temporal_edge_list.txt', sep=' ', names=['source_id', 'target_id', 'time_id'])
print(pd_edges.shape)
pd_edges.head()

(170794, 3)

   source_id  target_id  time_id
0      27423       2449        0
1      27424       2450        1
2      27425       2450        4
3      27425       2451        4
4      27425       2452        4

In [4]:
num_time_steps = pd_edges['time_id'].max() + 1
for time_id in range(num_time_steps):
    tmp = pd_edges[pd_edges['time_id']==time_id][['source_id', 'target_id']]
    tmp = tmp.rename(columns={'source_id': 'from_id', 'target_id': 'to_id'})
    tmp['weight'] = 1
    save_path = '../1.format/{:02d}.csv'.format(time_id)
    print('Save to: {}'.format(save_path))
    tmp[['from_id', 'to_id', 'weight']].to_csv(save_path, sep='\t', index=False)

Save to: ../1.format/00.csv
Save to: ../1.format/01.csv
Save to: ../1.format/02.csv
Save to: ../1.format/03.csv
Save to: ../1.format/04.csv
Save to: ../1.format/05.csv
Save to: ../1.format/06.csv

In [5]:
nodes = list(set(pd_edges['source_id'].unique().tolist() + pd_edges['target_id'].unique().tolist()))
len(nodes), min(nodes), max(nodes)

(37791, 0, 37790)

In [6]:
with open('../nodes_set/nodes.csv',"w") as f:
    wr = csv.writer(f, delimiter="\n")
    wr.writerow(nodes)