In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
# !mkdir ../1.format/
# !mkdir ../nodes_set/
!mkdir ../nodes_label

In [3]:
pd_edges = pd.read_csv('temporal_edge_list.txt', sep=' ', names=['source_id', 'target_id', 'time_id'])
print(pd_edges.shape)
pd_edges.head()

(105975, 3)

   source_id  target_id  time_id
0      12284       3165        1
1      31995       4555        3
2      30058       4434        0
3      22643       4264        2
4      16994       3953        2

In [4]:
num_time_steps = pd_edges['time_id'].max() + 1
for time_id in range(num_time_steps):
    tmp = pd_edges[pd_edges['time_id']==time_id][['source_id', 'target_id']]
    tmp = tmp.rename(columns={'source_id': 'from_id', 'target_id': 'to_id'})
    tmp['weight'] = 1
    save_path = '../1.format/{:02d}.csv'.format(time_id)
    print('Save to: {}'.format(save_path))
    tmp[['from_id', 'to_id', 'weight']].to_csv(save_path, sep='\t', index=False)

Save to: ../1.format/00.csv
Save to: ../1.format/01.csv
Save to: ../1.format/02.csv
Save to: ../1.format/03.csv
Save to: ../1.format/04.csv
Save to: ../1.format/05.csv
Save to: ../1.format/06.csv

In [5]:
nodes = list(set(pd_edges['source_id'].unique().tolist() + pd_edges['target_id'].unique().tolist()))
len(nodes), min(nodes), max(nodes)

(35316, 0, 35315)

In [6]:
with open('../nodes_set/nodes.csv',"w") as f:
    wr = csv.writer(f, delimiter="\n")
    wr.writerow(nodes)

In [11]:
num_time_steps = pd_edges['time_id'].max() + 1
pd_nodes = pd.read_csv('/home/hoang/github/DyHNet/dataset/yelp/labels.csv')
label = pd_nodes.sort_values('business_id').rename(columns={'business_id': 'node', 'category': 'label'})

for time_id in range(num_time_steps):
    save_path = '../nodes_label/{:02d}.csv'.format(time_id)
    print(save_path)
    label[['node', 'label']].to_csv(save_path, sep='\t', index=False)

../nodes_label/00.csv
../nodes_label/01.csv
../nodes_label/02.csv
../nodes_label/03.csv
../nodes_label/04.csv
../nodes_label/05.csv
../nodes_label/06.csv

In [12]:
label.head()

      node           label
959      0      Sushi Bars
1969     1  American (New)
1114     2       Fast Food
1950     3  American (New)
2689     4  American (New)