In [3]:
import numpy as np
import pandas as pd
import csv

In [18]:
!mkdir ../1.format/
!mkdir ../nodes_set/
!mkdir ../nodes_label

mkdir: cannot create directory ‘../1.format/’: File exists
mkdir: cannot create directory ‘../nodes_set/’: File exists

In [19]:
pd_edges = pd.read_csv('temporal_edge_list.txt', sep=' ', names=['source_id', 'target_id', 'time_id'])
print(pd_edges.shape)
pd_edges.head()

(170794, 3)

   source_id  target_id  time_id
0      27423       2449        0
1      27424       2450        1
2      27425       2450        4
3      27425       2451        4
4      27425       2452        4

In [4]:
num_time_steps = pd_edges['time_id'].max() + 1
for time_id in range(num_time_steps):
    tmp = pd_edges[pd_edges['time_id']==time_id][['source_id', 'target_id']]
    tmp = tmp.rename(columns={'source_id': 'from_id', 'target_id': 'to_id'})
    tmp['weight'] = 1
    save_path = '../1.format/{:02d}.csv'.format(time_id)
    print('Save to: {}'.format(save_path))
    tmp[['from_id', 'to_id', 'weight']].to_csv(save_path, sep='\t', index=False)

Save to: ../1.format/00.csv
Save to: ../1.format/01.csv
Save to: ../1.format/02.csv
Save to: ../1.format/03.csv
Save to: ../1.format/04.csv
Save to: ../1.format/05.csv
Save to: ../1.format/06.csv

In [5]:
nodes = list(set(pd_edges['source_id'].unique().tolist() + pd_edges['target_id'].unique().tolist()))
len(nodes), min(nodes), max(nodes)

(37791, 0, 37790)

In [6]:
with open('../nodes_set/nodes.csv',"w") as f:
    wr = csv.writer(f, delimiter="\n")
    wr.writerow(nodes)

In [20]:
num_time_steps = pd_edges['time_id'].max() + 1
entity_mapping = pd.read_pickle('/home/hoang/github/DyHNet/dataset/dblp_four_area/entity_mapping.pkl')
label = pd.read_csv('/home/hoang/github/DyHNet/dataset/dblp_four_area/author_label.txt', sep='\t', names=['id', 'label', 'name'])
label['id'] = label['id'].apply(lambda x: 'a_{}'.format(str(x)))
label['aid'] = label['id'].map(entity_mapping)
label = label.sort_values('aid').rename(columns={'aid': 'node'})

for time_id in range(num_time_steps):
    save_path = '../nodes_label/{:02d}.csv'.format(time_id)
    print(save_path)
    label[['node', 'label']].to_csv(save_path, sep='\t', index=False)

../nodes_label/00.csv
../nodes_label/01.csv
../nodes_label/02.csv
../nodes_label/03.csv
../nodes_label/04.csv
../nodes_label/05.csv
../nodes_label/06.csv

In [16]:
label

            id  label                           name   node
259    a_10003      3                       Fang Liu      1
3059  a_100282      3                    Paolo Boldi      8
3259  a_100649      1                  Ravi Janardan     14
1579  a_100760      1            Nathan S. Netanyahu     15
1886  a_101290      0                   Ashish Gupta     27
...        ...    ...                            ...    ...
2196   a_99024      1            Christos Davatzikos  14453
2526    a_9915      1                      Gang Wang  14456
69     a_99226      1  Chotirat (Ann) Ratanamahatana  14460
2471   a_99420      2                Kenneth McGarry  14464
3159   a_99505      0                  Mehdi Benzine  14468

[4057 rows x 4 columns]